<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j='http://jakarta.apache.org/log4j/'>

	<appender name="myConsole" class="org.apache.log4j.ConsoleAppender">
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="[%d{HH:mm:ss,SSS\} %-5p] %c{1\} - %m%n" />
		</layout>
	</appender>

	<appender name="file" class="org.apache.log4j.RollingFileAppender">
		<param name="File" value="${v3a.root}/logs/logFile.log" />
		<param name="Append" value="true" />
		<param name="MaxFileSize" value="1024KB" />
		<param name="MaxBackupIndex" value="100" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="[%d{HH:mm:ss\} %-5p] %c{1\} - %m%n" />
		</layout>
		<filter class="org.apache.log4j.varia.LevelRangeFilter">
			<param name="levelMin" value="INFO" />
			<param name="AcceptOnMatch" value="true" />
		</filter>
	</appender>


	<root>
		<priority value="debug" />
		<appender-ref ref="myConsole" />
		<appender-ref ref="file" />
	</root>

</log4j:configuration>